<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="__PUBLIC__/wx/css/jquery.bxslider.css">
<link rel="stylesheet" href="__PUBLIC__/wx/css/style.css">
<script src="__PUBLIC__/wx/js/jquery-1.9.1.min.js"></script>
<script src="__PUBLIC__/wx/js/jquery.bxslider.js"></script>
<script src="__PUBLIC__/wx/js/js.js"></script>
<meta name="viewport" content="width=750, user-scalable=no, target-densitydpi=device-dpi"/>
<title><block name="title"></block></title>
</head>
<body>
<block name="header"></block>

<block name="content"></block>

</body>
</html>