<footer class="rol footer">
    <div class="m-box">
        <a href="{:U('Mall/index')}" class="lt footer-box">
            <div class="rol center f-img">
                <img src="__PUBLIC__/wx/img/f1.png" class="" alt="">
            </div>
            <div class="rol f-font">商城中心</div>
        </a>
        <a href="{:U('UserInfo/jifen')}" class="lt footer-box">
            <div class="rol center f-img">
                <img src="__PUBLIC__/wx/img/f2.png" class="" alt="">
            </div>
            <div class="rol f-font">我的积分</div>
        </a>
        <a href="{:U('Orders/index')}" class="lt footer-box">
            <div class="rol center f-img">
                <img src="__PUBLIC__/wx/img/f3.png" class="" alt="">
            </div>
            <div class="rol f-font">我的订单</div>
        </a>
        <a href="{:U('UserInfo/tuijian')}" class="lt footer-box">
            <div class="rol center f-img">
                <img src="__PUBLIC__/wx/img/f4.png" class="" alt="">
            </div>
            <div class="rol f-font">推荐好友</div>
        </a>
    </div>
</footer>