<extend name="Public:base" />

<block name="title">视频中心</block>

<block name="header"></block>

<block name="content">
<div class="rol banner-box">
    <img src="__PUBLIC__/wx/img/banner.jpg" alt="">
</div>
<div class="rol index-page1">
    <div class="m-box">
        <div class="rol title1">VIDEO CENTER</div>
        <div class="rol center">
            <div class="title2">视频中心</div>
        </div>
    </div>
</div>
<div class="rol">
    <img src="__PUBLIC__/wx/img/video-1.jpg" alt="" class="rol">
    <div class="rol video-rol">
        <div class="m-box">
            <div class="rol video-font2">我们该如何应对这个狂躁症呢？新生名词如何理解呢？</div>
            <div class="rol video-font3">
                <span class="lt">健康养生</span>
                <span class="lt video-time">12-08</span>
            </div>
        </div>
    </div>
</div>
<div class="rol">
    <img src="__PUBLIC__/wx/img/video-1.jpg" alt="" class="rol">
    <div class="rol video-rol">
        <div class="m-box">
            <div class="rol video-font2">我们该如何应对这个狂躁症呢？新生名词如何理解呢？</div>
            <div class="rol video-font3">
                <span class="lt">健康养生</span>
                <span class="lt video-time">12-08</span>
            </div>
        </div>
    </div>
</div>

{:W('Base/showFooter')}
</block>