<extend name="Public:head" />

<block name="title">下单完成</block>

<block name="header">

</block>

<block name="content">
<div class="rol zfcg-box">
   <div class="m-box">
       <div class="zfcg">
           <img src="/Public/index/img/cg.png" alt=""/>
           <div style="text-align: center;">下单成功</div>
       </div>
       <div class="zfcg-but">
           <a href="{:U('Orders/daigfahuo')}">订单详情</a>
           <a class="zfcg-act" href="{:U('index/index')}">返回首页</a>
       </div>
       <div class="zfsj"  style="text-align: center;">支付时间：2017-05-19  17：25</div>
   </div> 
</div>
{:W('Base/showFooter')}
</block>