
<div class="rol footer">
    <div class="m-box">
        <a href="{:U('Index/index')}">
            <b class="foot1"></b>
            <div>首 页</div>
        </a>
        <a href="{:U('Distri/index')}">
            <b class="foot2"></b>
            <div>经销商</div>
        </a>
        <a  class="fot-act" href="{:U('Mall/index')}">
            <b class="foot3"></b>
            <div>商城</div>
        </a>
        <a  href="{:U('UserInfo/index')}">
            <b class="foot4"></b>
            <div>我的</div>
        </a>
    </div>
</div>
