<extend name="Public:base" />

<block name="title">订单中心</block>

<block name="header">
<header class="rol place-header">
    <div class="m-box">
        <a href="javascript:history.go(-1);" class="lt">
            <img src="__PUBLIC__/wx/img/return-1.png" class="pro-return-1" alt="">
        </a>
        <div class="lt pro-header-font">订单中心</div>
        <a href="{:U('Index/index')}" class="gt">
            <img src="__PUBLIC__/wx/img/home-1.png" class="pro-home-1" alt="">
        </a>
    </div>
</header>
</block>

<block name="content">
<div class="rol order-nav-box">
    <div class="m-box">
        <a href="{:U('index')}" class="lt order-nav-btn<?php echo $status==1 ? ' on':'';?>">
            <div class="rol order-icon-rol center">
                <img src="__PUBLIC__/wx/img/o1-<?php echo $status==1 ? 'on':'off';?>.png" alt="">
            </div>
            <div class="rol order-1-font">待付款</div>
        </a>
        <a href="{:U('send')}" class="lt order-nav-btn<?php echo $status==2 ? ' on':'';?>">
            <div class="rol order-icon-rol center">
                <img src="__PUBLIC__/wx/img/o2-<?php echo $status==2 ? 'on':'off';?>.png" alt="">
            </div>
            <div class="rol order-1-font">待发货</div>
        </a>
        <a href="{:U('recv')}" class="lt order-nav-btn<?php echo $status==3 ? ' on':'';?>">
            <div class="rol order-icon-rol center">
                <img src="__PUBLIC__/wx/img/o3-<?php echo $status==3 ? 'on':'off';?>.png" alt="">
            </div>
            <div class="rol order-1-font">待收货</div>
        </a>
        <a href="{:U('pj')}" class="lt order-nav-btn<?php echo $status==4 ? ' on':'';?>">
            <div class="rol order-icon-rol center">
                <img src="__PUBLIC__/wx/img/o4-<?php echo $status==4 ? 'on':'off';?>.png" alt="">
            </div>
            <div class="rol order-1-font">待评价</div>
        </a>
        <a href="{:U('serv')}" class="lt order-nav-btn on">
            <div class="rol order-icon-rol center">
                <img src="__PUBLIC__/wx/img/o5-on.png" alt="">
            </div>
            <div class="rol order-1-font">全部订单</div>
        </a>
    </div>
</div>

<foreach name="order_rows" item="order_row">
<div class="rol order-1-box">
    <div class="rol order-1-rol1">
        <foreach name="order_row['items']" item="pro_item">
        <div class="m-box">
            <div class="order-lt-1 lt">
                <img src="{$pro_item.titlepic}" style="max-height: 160px; max-width: 160px; vertical-align: top;" alt="">
            </div>
            <div class="order-gt-1 lt">
                <div class="rol order-1-title">
                    <div class="lt">{$pro_item.title}</div>
                    <div class="gt">￥{$pro_item.price}</div>
                </div>
                <!--div class="rol order-1-font2">益生菌粉固体饮料</div-->
                <div class="rol order-1-font2 right">数量：{$pro_item.num}</div>
            </div>
        </div>
        </foreach>
    </div>
    <div class="rol order-1-rol2">
        <div class="m-box">
            <div class="lt" style="line-height: 55px;">订单编号：{$order_row.ordernum}</div>

            <if condition="$order_row['orderstatus'] eq 1">
            <a href="{:U('cancel', array('id'=>$order_row['id']))}" class="gt or-btn1">取消订单</a>
            <a href="{:U('pay', array('id'=>$order_row['id']))}" class="gt or-btn">去付款</a>
            <elseif condition="$order_row['orderstatus'] eq 2"/>
            <a href="{:U('detail', array('id'=>$order_row['id']))}" class="gt or-btn">查看订单</a>
            <elseif condition="$order_row['orderstatus'] eq 3"/>
            <a href="{:U('receive', array('id'=>$order_row['id']))}" class="gt or-btn">确定收货</a>
            <a href="{:U('wuliu', array('id'=>$order_row['id']))}" class="gt or-btn">物流信息</a>
            <elseif condition="$order_row['orderstatus'] eq 4"/>
                <if condition="$order_row['commented'] eq 0">
                <a href="{:U('pjorder', array('id'=>$order_row['id']))}" class="gt or-btn">去评价</a>
                <else />
                <div class="gt or-btn">已完成</div>
                </if>
            </if>
        </div>
    </div>
</div>
</foreach>

{:W('Base/showFooter')}
</block>