<extend name="Public:base" />

<block name="title">购买详情</block>

<block name="header">
<header class="rol place-header">
    <div class="m-box">
        <a href="javascript:history.go(-1);" class="lt">
            <img src="__PUBLIC__/wx/img/return-1.png" class="pro-return-1" alt="">
        </a>
        <div class="lt pro-header-font">购买详情</div>
        <a href="{:U('info')}" class="gt">
            <img src="__PUBLIC__/wx/img/home-1.png" class="pro-home-1" alt="">
        </a>
    </div>
</header>
</block>

<block name="content">
<form action="__ACTION__" method="get" name="form1">
<div class="rol">
    <div class="m-box" style="text-align: center; height: 80px;line-height: 60px;font-size: 26px;">日期：<input type="date" name="startdate" max="<?php echo date('Y-m-d');?>" value="{$Think.get.startdate}" style="border: 1px solid #CCC; border-radius: 3px; height: 60px;padding: 0 10px;width: 170px;font-size: 22px;background-color: #FFF;"> - <input type="date" name="enddate" max="<?php echo date('Y-m-d');?>" value="{$Think.get.enddate}" style="border: 1px solid #CCC; border-radius: 3px; height: 60px;padding: 0 10px;width: 170px;font-size: 22px;background-color: #FFF;"><button type="submit" style="border: none; border-radius: 3px; height: 60px;padding: 0 10px;width: 120px;font-size: 24px;background-color: #29c7ea; color: #FFF; margin-left: 20px;">查询</button></div>
</div>
</form>

<div class="rol" style="height: auto">
    <div class="m-box" style="text-align: center;font-size: 36px;">
        请选择起止日期查询！
    </div>
</div>

{:W('Base/showFooter')}

<style type="text/css">
#pager {
    text-align: center;
    font-size: 20px;
    color: #666;
    line-height: 100px;
}
</style>
<script type="text/javascript">
$(function(){
});
</script>
</block>