<extend name="Public:main" />

<block name="cssjs"></block>


<block name="area"><li><a href="#">添加规格</a></li></block>

<block name="content">
    <div class="formbody">
		<div class="formtitle"><span>添加</span></div>
		<form action="__ACTION__/action/{$action}/id/{$id}" method="post" enctype="multipart/form-data" name="myform">
		<ul class="forminfo">
		
		<li><label>规格名称:</label><input name="title" class="dfinput" type="text" value="{$list.gg_title}"><i></i></li>
		<li><label>状态</label><input name="setval" type="radio" value="1" <eq name='list.gg_set' value='1'>checked</eq> />启用&nbsp;&nbsp;<input name="setval" type="radio" value="0" <neq name='list.gg_set' value='1'>checked</neq> />关闭</li>

		<li><label>&nbsp;</label><input type="submit" class="btn" value="确认添加"></li>

		</ul>
		</form>
    </div>
</block>