<extend name="Public:base" />

<block name="title">在线留言</block>

<block name="header"></block>

<block name="content">
<div class="rol leave-message-box">
    <?php if($msg) {echo '<p style="text-align: center; color: #F00;">'.$msg.'</p>';}?>
    <form action="__ACTION__" method="POST">
    <div class="m-box">
        <input type="text" placeholder="您的姓名" name="name" class="rol leave-input leave-input1" />
        <input type="text" placeholder="请输入您的手机号，方便为您服务" name="phone" class="rol leave-input leave-input2"/>
        <textarea class="rol leave-input leave-input3" name="content" id="message_content">简单描述您的需求</textarea>
        <button type="submit" class="rol sign-submit">提交留言</button>
    </div>
    </form>

    
</div>
<div class="rol" style="text-align: center;margin-top: 50px; font-size: 26px;color: #999">
	
</div>
</block>