<extend name="Public:main" />

<block name="cssjs"></block>

<block name="area"><li><a href="#">用户处理</a></li></block>

<block name="content">
	
	
    <div class="formbody">
		<div class="formtitle"><span>用户处理</span></div>
		<form action="__ACTION__/action/{$action}/typeid/{$typeid}/id/{$id}" method="post" name="myform" id="myform">
			
		<table border="0" cellpadding="0" cellspacing="0" style="float: left;; margin: 0 0 0 25px;">
			<tr>
				<td align="left" width="85px" height="40px">用户名</td>
				<td>{$list.username}</td>
				<td><em id="load_user" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">昵称</td>
				<td><input name="nickname" class="dfinput" type="text" autocomplete="off" value="{$list.nickname}" /></td>
				<td><em id="sky_3" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">邮箱</td>
				<td><input name="email" id="email" class="dfinput" type="text" autocomplete="off" value="{$list.email}" /></td>
				<td><em id="sky_4" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">手机</td>
				<td><input name="phone" id="phone" class="dfinput" type="text" autocomplete="off" value="{$list.phone}" /></td>
				<td><em id="sky_5" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">固定电话</td>
				<td><input name="tel" class="dfinput" type="text" autocomplete="off" value="{$list.telval}" /></td>
				<td><em id="sky_6" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">性别</td>
				<td><input name="sex" type="radio" value="1" <eq name='list.sex' value='1'>checked</eq> />男&nbsp;&nbsp;<input name="sex" type="radio" value="0" <neq name='list.sex' value='1'>checked</neq> />女</td>
				<td><em id="sky_7" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">生日</td>
				<td><input type="text" class="scinput" name="starttime" id="starttime" placeholder="请输入生日..." value="{$list.shengri|date='Y-m-d',###}" /><div id="st" style="width: 350px;"></div></td>
				<td><em id="sky_8" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">地址</td>
				<td>
					<select class="sellect" id="pro_list" name="provinces">
						<option value="-1">请选择城市</option>
						<volist name="prolist" id="prolist">
							<option value="{$prolist.region_id}" <eq name='list.provinces' value='$prolist.region_id'>selected</eq>>{$prolist.region_name}</option>
						</volist>
					</select>
					<select class="sellect" id='city_list' name="city" <eq name='list.provinces' value='0'>style="display: none;"</eq>>
						<option value="-1">请选择城市</option>
						<volist name='citylt' id='citylt'>
							<option value="{$citylt.region_id}" <eq name='list.city' value='$citylt.region_id'>selected</eq>>{$citylt.region_name}</option>
						</volist>
					</select>
					<select class="sellect" id="county_list" name="county" <eq name='list.city' value='0'>style="display: none;"</eq>>
						<option value="-1">请选择地区</option>
						<volist name='countylst' id='countylst'>
							<option value="{$countylst.region_id}" <eq name='list.county' value='$countylst.region_id'>selected</eq>>{$countylst.region_name}</option>
						</volist>
					</select>
			
				</td>
				<td><em id="load_jz" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">补充地址</td>
				<td><input name="address" class="dfinput" type="text" autocomplete="off" value="{$list.address}" /></td>
				<td><em id="sky_9" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">头像</td>
				<td>
				
				<input type="text" class="dfinput" id="toppic" name='headpic' value="{$list.headpic}" /> <input type="button" id="uploadbtndf" value="选择图片" onclick="getElementById('uppicimg').click()" style="height:30px;width:80px;cursor:pointer;border-radius:2px;background-color:#DDD;" />
			
			<input type="file" multiple="uppicimg" id="uppicimg" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;"/> <input type="hidden" name="uppicimgtype" id="uppicimgtype" value="4" /> <!--批量上传图片-->
				
				
				</td>
				<td><i>限jpg gif jpeg png 格式 200kb以内</i></td>
			</tr>
			<tr>
				<td align="left" width="85px"></td>
				<td><img id="mytxpic" src="{$list.headpic}" style="width:150px;"></td>
				<td><em id="sky_9" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px"></td>
				<td><input type="submit" class="btn" value="确认修改" /></td>
				<td><em id="load_user" style="display: none;"></em></td>
			</tr>
		</table>
		
		
		</form>
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/js/calendar.js"></script>
<script type="text/javascript">
var kaiguan=0;

$(function(e){
	
	//列出市级
	$('#pro_list').bind('change',function(e){
		var proval=this.value;
		if(!$("#city_list").is(":hidden")){
				$("#city_list").hide(100);
			}
			if(!$("#county_list").is(":hidden")){
				$("#county_list").hide(100);
			}
			$('#city_list').empty();
			$('#city_list').append('<option value="-1">请选择城市</option>');
			
			$('#county_list').empty();
			$('#county_list').append('<option value="-1">请选择地区</option>');
			
		if(proval != '-1'){
			$.ajax({
				url:host+'/Admin/User/lookaddres',
				type:'post',
				data:{proval:proval},
				dataType:'json',
				beforeSend:function(xmldata){
					$('#load_jz').removeClass();
					$('#load_jz').addClass('icon-spinner icon-spin icon-large');
					$('#load_jz').show();
				},
				success:function(data){
					$('#load_jz').removeClass();
					if(data.code == 1){
						$('#city_list').empty();
						$('#city_list').append('<option value="-1">请选择城市</option>');
						var sumval=data.infor.sum;
						var cont=data.infor.cont;
						for(i=0;i<sumval;i++){
							$('#city_list').append('<option value="'+cont[i].region_id+'">'+cont[i].region_name+'</option>');
						}
						$("#city_list").show(300);
					}
					
				},
				error:function(error){
					$('#load_jz').removeClass();
					$('#load_jz').addClass('icon-remove-sign');
					document.getElementById('load_jz').style.color='#ff0000';
				}
			});
		}
	});
	
	
	//列出县级
	$('#city_list').bind('change',function(e){
		var proval=this.value;
		if(!$("#county_list").is(":hidden")){
				$("#county_list").hide(100);
			}
			
			$('#county_list').empty();
			$('#county_list').append('<option value="-1">请选择地区</option>');
		if(proval != '-1'){
			$.ajax({
				url:host+'/Admin/User/lookaddres',
				type:'post',
				data:{proval:proval},
				dataType:'json',
				beforeSend:function(xmldata){
					$('#load_jz').removeClass();
					$('#load_jz').addClass('icon-spinner icon-spin icon-large');
					$('#load_jz').show();
				},
				success:function(data){
					$('#load_jz').removeClass();
					if(data.code == 1){
						$('#county_list').empty();
						$('#county_list').append('<option value="-1">请选择城市</option>');
						var sumval=data.infor.sum;
						var cont=data.infor.cont;
						for(i=0;i<sumval;i++){
							$('#county_list').append('<option value="'+cont[i].region_id+'">'+cont[i].region_name+'</option>');
						}
						$("#county_list").show(300);
					}
					
				},
				error:function(error){
					$('#load_jz').removeClass();
					$('#load_jz').addClass('icon-remove-sign');
					document.getElementById('load_jz').style.color='#ff0000';
				}
			});
		}
	});
});
$('#st').calendar({
    trigger: '#starttime',
    zIndex: 999,
	format: 'yyyy-mm-dd',
    onSelected: function (view, date, data) {
        console.log('event: onSelected')
    },
    onClose: function (view, date, data) {
        console.log('event: onClose')
        console.log('view:' + view)
        console.log('date:' + date)
        console.log('data:' + (data || 'None'));
    }
});
</script>
</block>