<extend name="Public:main" />

<block name="cssjs"></block>

<block name="area"><li><a href="#">经销商处理</a></li></block>

<block name="content">
	
	
    <div class="formbody">
		<div class="formtitle"><span>经销商处理</span></div>
		<form action="__ACTION__/action/{$action}/typeid/{$typeid}" method="post" name="myform" id="myform">
			
		<table border="0" cellpadding="0" cellspacing="0" style="float: left;; margin: 0 0 0 25px;">
			<tr>
				<td align="left" width="85px" height="40px">用户名</td>
				<td><input name="usernamers"  id="usernamers" class="dfinput" type="text" autocomplete="off" onblur="jumpuser()" /></td>
				<td><em id="load_user" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">密码</td>
				<td><input name="password" id="password" class="dfinput" type="password" autocomplete="off" onblur="jumpmia()" /></td>
				<td><em id="sky_1" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">确认密码</td>
				<td><input name="password2" id="password2" class="dfinput" type="password" autocomplete="off" onblur="jumpqrmm()" /></td>
				<td><em id="sky_2" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">联系人</td>
				<td><input name="nickname" class="dfinput" type="text" autocomplete="off" /></td>
				<td><em id="sky_3" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">邮箱</td>
				<td><input name="email" id="email" class="dfinput" type="text" autocomplete="off" onblur="jumpemail()" /></td>
				<td><em id="sky_4" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">手机</td>
				<td><input name="phone" id="phone" class="dfinput" type="text" autocomplete="off" onblur="jumpphon()" /></td>
				<td><em id="sky_5" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">固定电话</td>
				<td><input name="tel" class="dfinput" type="text" autocomplete="off" /></td>
				<td><em id="sky_6" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">性别</td>
				<td><input name="sex" type="radio" value="1" checked />男&nbsp;&nbsp;<input name="sex" type="radio" value="0" />女</td>
				<td><em id="sky_7" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">生日</td>
				<td><input type="text" class="scinput" name="starttime" id="starttime" placeholder="请输入生日..." value="" /><div id="st" style="width: 350px;"></div></td>
				<td><em id="sky_8" style="display: none;"></em></td>
			</tr>
			
			
			<tr>
				<td align="left" width="85px" height="40px">公司名称</td>
				<td><input name="poratename" id="poratename" class="dfinput" type="text" autocomplete="off" onblur="jumpgsmc()" /></td>
				<td><em id="sky_12" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">公司地址</td>
				<td><input name="porateaddress" id="porateaddress" class="dfinput" type="text" autocomplete="off" onblur="jumpgsdizi()" /></td>
				<td><em id="sky_10" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">营业执照</td>
				<td>
					<input type="text" class="dfinput" id="toppicyyzz" name='titlepicyyzz' /> <input type="button" id="uploadbtndf" value="选择图片" onclick="getElementById('uppicimgyyzz').click()" style="height:30px;width:80px;cursor:pointer;border-radius:2px;background-color:#DDD;" />
			<br><i>限jpg gif jpeg png 格式 200kb以内</i>
			<input type="file" multiple="uppicimgyyzz" id="uppicimgyyzz" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;"/> <input type="hidden" name="uppicimgtypeyyzz" id="uppicimgtypeyyzz" value="4" /> <!--批量上传图片-->
					
				</td>
				<td><img style="height: 34px; margin-left: 10px; padding: 2px; border: 1px solid #ccc; display: none;" src="" id="myyyzzpic"><em id="sky_11" style="display: none; color: #f00;">*必填</em></td>
			</tr>
			
			
			
			<tr>
				<td align="left" width="85px" height="40px">销售区域</td>
				<td>
					<select class="sellect" id="pro_list" name="provinces">
						<option value="-1">请选择城市</option>
						<volist name="prolist" id="prolist">
							<option value="{$prolist.region_id}">{$prolist.region_name}</option>
						</volist>
					</select>
					<select class="sellect" id='city_list' name="city" style="display: none;">
						<option value="-1">请选择城市</option>
					</select>
					<select class="sellect" id="county_list" name="county" style="display: none;">
						<option value="-1">请选择地区</option>
					</select>
			
				</td>
				<td><em id="load_jz" style="display: block; color: #f00;">*必填</em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">补充地址</td>
				<td><input name="address" class="dfinput" type="text" autocomplete="off" /></td>
				<td><em id="sky_9" style="display: none;"></em></td>
			</tr>
			<tr>
				<td align="left" width="85px" height="40px">头像</td>
				<td>
					
					<input type="text" class="dfinput" id="toppic" name='headpic' /> <input type="button" id="uploadbtndf" value="选择图片" onclick="getElementById('uppicimg').click()" style="height:30px;width:80px;cursor:pointer;border-radius:2px;background-color:#DDD;" />
			<br><i>限jpg gif jpeg png 格式 200kb以内</i>
			<input type="file" multiple="uppicimg" id="uppicimg" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;"/> <input type="hidden" name="uppicimgtype" id="uppicimgtype" value="4" /> <!--批量上传图片-->
					
				</td>
				<td><img style="height: 34px; margin-left: 10px; padding: 2px; border: 1px solid #ccc; display: none;" src="" id="mytxpic"></td>
			</tr>
			
			<tr>
				<td align="left" width="85px" height="150px">备注</td>
				<td><textarea name="count" style="width: 350px; height: 140px; border: 1px solid #ccc; padding: 5px;"></textarea></td>
				<td class="ermyl">
					<label>二维码预览</label>
					<img src="{:U('/Index/Index/tgqrcode', array('code'=>$codeval))}" alt="">
					<span>二维码地址：<script>document.write(host)</script>{:U('/Index/Index/tgqrcode', array('code'=>$codeval))}</span>
					<input type="hidden" value="{$codeval}" name="code" />
				</td>
			</tr>
			
			
			<tr>
				<td align="left" width="85px" height="40px"></td>
				<td><input type="button" class="btn" value="确认添加" onclick="tianjiaqrjxs()" /></td>
				<td><em id="load_user" style="display: none;"></em></td>
			</tr>
		</table>
		
		
		</form>
    </div>
<script type="text/javascript" src="__PUBLIC__/Admin/js/calendar.js"></script>
<script type="text/javascript">
var kaiguan=0;

$(function(e){
	
	//列出市级
	$('#pro_list').bind('change',function(e){
		var proval=this.value;
		
		if(!$("#city_list").is(":hidden")){
				$("#city_list").hide(100);
			}
			if(!$("#county_list").is(":hidden")){
				$("#county_list").hide(100);
			}
			$('#city_list').empty();
			$('#city_list').append('<option value="-1">请选择城市</option>');
			
			$('#county_list').empty();
			$('#county_list').append('<option value="-1">请选择地区</option>');
			
		if(proval != '-1'){
			$.ajax({
				url:host+'/Admin/User/lookaddres',
				type:'post',
				data:{proval:proval},
				dataType:'json',
				beforeSend:function(xmldata){
					$('#load_jz').html('');
					$('#load_jz').removeClass();
					$('#load_jz').addClass('icon-spinner icon-spin icon-large');
					$('#load_jz').show();
				},
				success:function(data){
					$('#load_jz').html('');
					$('#load_jz').removeClass();
					if(data.code == 1){
						$('#city_list').empty();
						$('#city_list').append('<option value="-1">请选择城市</option>');
						var sumval=data.infor.sum;
						var cont=data.infor.cont;
						for(i=0;i<sumval;i++){
							$('#city_list').append('<option value="'+cont[i].region_id+'">'+cont[i].region_name+'</option>');
						}
						$("#city_list").show(300);
						jxsset[3]=1;
					}else{
						jxsset[3]=0;
					}
					
				},
				error:function(error){
					jxsset[3]=0;
					$('#load_jz').html('');
					$('#load_jz').removeClass();
					$('#load_jz').addClass('icon-remove-sign');
					document.getElementById('load_jz').style.color='#ff0000';
				}
			});
		}else{
			jxsset[3]=0;
		}
	});
	
	
	//列出县级
	$('#city_list').bind('change',function(e){
		var proval=this.value;
		if(!$("#county_list").is(":hidden")){
				$("#county_list").hide(100);
			}
			
			$('#county_list').empty();
			$('#county_list').append('<option value="-1">请选择地区</option>');
		if(proval != '-1'){
			$.ajax({
				url:host+'/Admin/User/lookaddres',
				type:'post',
				data:{proval:proval},
				dataType:'json',
				beforeSend:function(xmldata){
					$('#load_jz').removeClass();
					$('#load_jz').addClass('icon-spinner icon-spin icon-large');
					$('#load_jz').show();
				},
				success:function(data){
					$('#load_jz').removeClass();
					if(data.code == 1){
						$('#county_list').empty();
						$('#county_list').append('<option value="-1">请选择城市</option>');
						var sumval=data.infor.sum;
						var cont=data.infor.cont;
						for(i=0;i<sumval;i++){
							$('#county_list').append('<option value="'+cont[i].region_id+'">'+cont[i].region_name+'</option>');
						}
						$("#county_list").show(300);
					}
					
				},
				error:function(error){
					$('#load_jz').removeClass();
					$('#load_jz').addClass('icon-remove-sign');
					document.getElementById('load_jz').style.color='#ff0000';
				}
			});
		}
	});
});
$('#st').calendar({
    trigger: '#starttime',
    zIndex: 999,
	format: 'yyyy-mm-dd',
    onSelected: function (view, date, data) {
        console.log('event: onSelected')
    },
    onClose: function (view, date, data) {
        console.log('event: onClose')
        console.log('view:' + view)
        console.log('date:' + date)
        console.log('data:' + (data || 'None'));
    }
});
</script>
</block>