<extend name="Public:main" />

<block name="cssjs"></block>

<block name="area">
<li><a href="#">消息列表</a></li>
</block>

<block name="content">
    <div class="rightinfo">
    	<div class="tools"><!--
	    	<ul class="seachform" style="float:left;">
	    		<form name="search_form" action="__ACTION__" method="GET">
				<li><label>查询手机号：</label><input type="text" class="scinput" name="user" placeholder="请输入手机号查询..." value="{$Think.get.user}" /></li>
				<li><label>：</label><input type="text" class="scinput" name="domain" placeholder="请输入域查询..." value="{$Think.get.domain}" /></li>
				<li><label>&nbsp;</label><input type="submit" value="查询" class="scbtn" /></li>
				</form>
			</ul>-->

			<ul class="toolbar1">
				<li class="click"><a href="{:U('usnotice', array('fbid'=>$fbid,'action'=>'addfbxx'))}" ><span></span>发布消息</a></li>
			</ul>
<!--
			<ul class="toolbar1">
			<li><span><img src="images/t05.png" /></span>设置</li>
			</ul-->
		</div>

		<form action="{'delall'}" method="POST" id="delall_form">
		<table class="imgtable">

			<thead>
			<tr>
			<th width="50"><input type="checkbox" id="checkall" /></th>
			<th>ID</th>
			<th>帐号</th>
			<th>姓名</th>
			<th>手机号</th>
			
			<th>发送标题</th>
			
			<th>发送时间</th>
			<th>状态</th>
			<th>操作</th>
			</tr>
			</thead>

			<tbody>
			<if condition="$orders_list neq null">
				<foreach name="orders_list" item="list_item">
					<tr style="height:32px">
					<td><input name="opid[]" type="checkbox" value="{$list_item.id}" /></td>
					<td>{$list_item.myid}</td>
					<td>{$list_item.username}</td>
					<td>{$list_item.nickname}</td>
					<td>{$list_item.phone}</td>
					
					<td>{$list_item.title}</td>
					
					<td>{$list_item.time|date='Y-m-d H:i:s',###}</td>
					<td><eq name='list_item.setval' value='1'><font color="#008800">已看</font><else /><font color="#FF0000">未查看</font></eq></td>
					<td><a href="{:U('usnotice', array('id'=>$list_item['myid'],'action'=>'eite'))}">修改消息</a>  <a href="{:U('usnotice', array('id'=>$list_item['myid'],'action'=>'delt'))}" onclick="return confirm('是否要删除此条记录，删除后不可恢复?');">删除</a></td>
					</tr>
				</foreach>
			<else />
				<tr style="height:32px"><td colspan="9">暂无记录！</td></tr>
			</if>
			</tbody>
		</table>
		
		</form>
    </div>
<script type="text/javascript">
$('.imgtable tbody tr:odd').addClass('odd');



$("#checkall").click(function(event) {
	if ($(this).is(':checked')) {
		$("input[name='opid[]']").each(function(index, el) {
			$(this).attr("checked",true);
		});
	} else {
		$("input[name='opid[]']").each(function(index, el) {
			$(this).attr("checked",false);
		});
	}
});
</script>
</block>