<extend name="Public:base" />

<block name="title">推荐</block>

<block name="header"></block>

<block name="content">
<div class="rol re-box">
    <div class="m-box">
        <div class="rol re-title">推荐您成为<span>协和药业商城</span>会员。</div>
        <div class="rol re-rol1">
            <a href="{:U('subscribe')}" class="lt">关注微信公众号</a>
            <a href="{:U('UserInfo/tuijian')}" class="gt">推荐</a>
        </div>
        <div class="rol re-title">会员特权</div>
        <div class="rol re-box2">
            <div class="rol re-rol1">
                <div class="lt ro-1">
                    <img src="__PUBLIC__/wx/img/ro-1.png" class="lt" alt="">
                </div>
                <div class="gt ro-font1">
                    <div class="rol ro-font2">积分抵现</div>
                    <div class="rol ro-font3">在商城中购物时可使用积分抵相对量的现金。</div>
                </div>
            </div>
            <div class="rol re-rol1">
                <div class="lt ro-1">
                    <img src="__PUBLIC__/wx/img/ro-2.png" class="lt" alt="">
                </div>
                <div class="gt ro-font1">
                    <div class="rol ro-font2">推荐好友</div>
                    <div class="rol ro-font3">推荐好友并注册成为会员方可获得积分。</div>
                </div>
            </div>
            <div class="rol re-rol1">
                <div class="lt ro-1">
                    <img src="__PUBLIC__/wx/img/ro-3.png" class="lt" alt="">
                </div>
                <div class="gt ro-font1">
                    <div class="rol ro-font2">好友购买</div>
                    <div class="rol ro-font3">推荐的好友在购买产品后，您将会获得额外的积分。</div>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="{:U('User/index')}" class="rol ro-foot-btn">成为会员</a>
</block>