
				<div id="selecolr">
					<em id='solor1' onclick="xzsecl(1)" data-color = "#FF0000" style="background-color: #f00; color: #fff;">#FF0000</em>
					<em id='solor2' onclick="xzsecl(2)" data-color = "#FFFF00" style="background-color: #FFFF00; color: #f0f;">#FFFF00</em>
					<em id='solor3' onclick="xzsecl(3)" data-color = "#FF00FF" style="background-color: #FF00FF; color: #fff;">#FF00FF</em>
					<em id='solor4' onclick="xzsecl(4)" data-color = "#F5DEB3" style="background-color: #F5DEB3; color: #fff;">#F5DEB3</em>
					<em id='solor5' onclick="xzsecl(5)" data-color = "#FFFFFF" style="background-color: #FFFFFF; color: #000;">#FFFFFF</em>
					<em id='solor6' onclick="xzsecl(6)" data-color = "#000000" style="background-color: #000000; color: #fff;">#000000</em>
					<em id='solor7' onclick="xzsecl(7)" data-color = "#A020F0" style="background-color: #A020F0; color: #fff;">#A020F0</em>
					<em id='solor8' onclick="xzsecl(8)" data-color = "#9FB6CD" style="background-color: #9FB6CD; color: #fff;">#9FB6CD</em>
					<em id='solor9' onclick="xzsecl(9)" data-color = "#8B0000" style="background-color: #8B0000; color: #fff;">#8B0000</em>
					<em id='solor10' onclick="xzsecl(10)" data-color = "#1E90FF" style="background-color: #1E90FF; color: #fff;">#1E90FF</em>
					<em id='solor11' onclick="xzsecl(11)" data-color = "#000080" style="background-color: #000080; color: #fff;">#000080</em>
					<em id='solor12' onclick="xzsecl(12)" data-color = "#73BF00" style="background-color: #73BF00; color: #fff;">#73BF00</em>
					<em id='solor13' onclick="xzsecl(13)" data-color = "#8B8989" style="background-color: #8B8989; color: #fff;">#8B8989</em>
					<em id='solor14' onclick="xzsecl(14)" data-color = "#8B2323" style="background-color: #8B2323; color: #fff;">#8B2323</em>
					<em id='solor15' onclick="xzsecl(15)" data-color = "#CD6600" style="background-color: #CD6600; color: #fff;">#CD6600</em>
					<em id='solor16' onclick="xzsecl(16)" data-color = "#EE0000" style="background-color: #EE0000; color: #fff;">#EE0000</em>
					<em id='solor17' onclick="xzsecl(17)" data-color = "#FF00FF" style="background-color: #FF00FF; color: #fff;">#FF00FF</em>
					<em id='solor18' onclick="xzsecl(18)" data-color = "#FFA07A" style="background-color: #FFA07A; color: #fff;">#FFA07A</em>
					<em id='solor19' onclick="xzsecl(19)" data-color = "#FFD700" style="background-color: #FFD700; color: #fff;">#FFD700</em>
					<em id='solor20' onclick="xzsecl(20)" data-color = "#FF7F24" style="background-color: #FF7F24; color: #fff;">#FF7F24</em>
				</div>
			