<extend name="Public:base" />

<block name="title">患者讲堂</block>

<block name="header"></block>

<block name="content">
<div class="rol health-header">
    <img src="__PUBLIC__/wx/img/health.png" alt="" class="rol">
</div>
<div class="rol">
    <div class="m-box">
        <a href="{:U('news')}" class="lt health-box">
            <div class="rol center health-img">
                <img src="__PUBLIC__/wx/img/health-1.png" alt="">
            </div>
            <div class="rol health-font">健康常识</div>
        </a>
        <a href="{:U('movie')}" class="lt health-box">
            <div class="rol center health-img">
                <img src="__PUBLIC__/wx/img/health-2.png" alt="">
            </div>
            <div class="rol health-font">视频中心</div>
        </a>
        <a href="{:U('download')}" class="lt health-box">
            <div class="rol center health-img">
                <img src="__PUBLIC__/wx/img/health-3.png" alt="">
            </div>
            <div class="rol health-font">下载中心</div>
        </a>
        <a href="{:U('Message/index')}" class="lt health-box">
            <div class="rol center health-img">
                <img src="__PUBLIC__/wx/img/health-4.png" alt="">
            </div>
            <div class="rol health-font">在线留言</div>
        </a>
    </div>
</div>
{:W('Base/showFooter')}
</block>